* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    margin: 0;
    font-family: "Caveat", cursive;
}

.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: gray;
    color: white;
}

.header-content {
    max-width: 1200px;
    padding: 0 40px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-svg {
    display: flex;
    align-items: center;
    padding-bottom: 40px;
}

.hero,
.gallery {
    padding: 50px 0;
}

.hero-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
    text-align: center;
}

.hero-content h2 {
    animation: floatText 2s ease-in-out infinite;
}

@keyframes floatText {
    0% { 
        transform: translateY(0);
    }
    50% {
        transform: translateY(6px)
    }
    100% {
        transform: translateY(0)
    }
}

.gallery-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.image {
    height: 350px;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: transform 0.6s ease;
}


.image:hover {
    transform: scale(1.03);
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}

.footer {
    background-color: gray;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 120px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 100px;

    color: white;
    font-size: 24px;
}

.footer-left,
.footer-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.mail-icon {
    height: 50px;
}

.youtube-icon {
    height: 70px;
}

.youtube-icon:hover {
    animation: animated__wobble 1s;
}

.mail-icon:hover {
    animation: animated__swing 1s;
}



